<app-top-bar></app-top-bar>

<div class="container pt-5">
	<div class="row align-items-center">
		<div class="col align-self-center">

			<h3 class="text-center">Add a book</h3>

			<form class="text-center" [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
		
				<div>
					<label for="title">Title</label>
					<br>
					<input id="title" type="text" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
					<div *ngIf="submitted && f['title'].errors">
						<div *ngIf="f['title'].errors['required']" style="color:red;">Title is required</div>
						<div *ngIf="f['title'].errors['minlength']" style="color:red;">Title must be at least 2 characters</div>
						<div *ngIf="f['title'].errors['maxlength']" style="color:red;">Title must not exceed 40 characters</div>
					</div>
				</div>
			
				<div>
					<label for="author">Author</label>
					<br>
					<input id="author" type="text" formControlName="author" [ngClass]="{ 'is-invalid': submitted && f['author'].errors }">
					<div *ngIf="submitted && f['author'].errors">
						<div *ngIf="f['author'].errors['required']" style="color:red;">Author is required</div>
						<div *ngIf="f['author'].errors['minlength']" style="color:red;">Author must be at least 5 characters</div>
						<div *ngIf="f['author'].errors['maxlength']" style="color:red;">Author must not exceed 100 characters</div>
					</div>
				</div>

				<div>
					<label for="subject">Subject</label>
					<br>
					<input id="subject" type="text" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }">
					<div *ngIf="submitted && f['subject'].errors">
						<div *ngIf="f['subject'].errors['required']" style="color:red;">Subject is required</div>
						<div *ngIf="f['subject'].errors['minlength']" style="color:red;">Subject must be at least 2 characters</div>
						<div *ngIf="f['subject'].errors['maxlength']" style="color:red;">Subject must not exceed 20 characters</div>
					</div>
				</div>

				<div>
					<label for="bookFile">Select a book file in PDF format (max file size is 10MB)</label>
					<br>
					<input id="bookFile" type="file" name="bookFile" accept=".pdf" (change)="onFileSelected($event)">
				</div>
			
				<br>
				<button class="btn btn-success" type="submit">
					Add book
				</button>
				
			</form>

		</div>

	</div>
</div>