<app-top-bar></app-top-bar>

<div class="container">
	<h3 class="text-center m-2">Books</h3>
	<div class="row">
		<table class="table-primary table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Username</th>
					<th scope="col">Role</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.role }}</td>
					<td>
						<button class="btn btn-warning btn-sm m-1" type="button" (click)="onEdit(user.id)">Edit</button>
						<button class="btn btn-danger btn-sm m-1" type="button" (click)="onDelete(user.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>