<app-top-bar></app-top-bar>

<div class="container pt-5">
	<div class="row align-items-center">
		<div class="col align-self-center">

			<h3 class="text-center">Edit a book</h3>

			<form class="text-center" [formGroup]="editBookForm" (ngSubmit)="onSubmit()">
		
				<div>
					<label for="title">Title</label>
					<br>
					<input id="title" type="text" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
					<div *ngIf="submitted && f['title'].errors">
						<div *ngIf="f['title'].errors['required']">Title is required</div>
						<div *ngIf="f['title'].errors['minlength']">Title must be at least 2 characters</div>
						<div *ngIf="f['title'].errors['maxlength']">Title must not exceed 40 characters</div>
					</div>
				</div>
			
				<div>
					<label for="author">Author</label>
					<br>
					<input id="author" type="text" formControlName="author" [ngClass]="{ 'is-invalid': submitted && f['author'].errors }">
					<div *ngIf="submitted && f['author'].errors">
						<div *ngIf="f['author'].errors['required']">Author is required</div>
						<div *ngIf="f['author'].errors['minlength']">Author must be at least 5 characters</div>
						<div *ngIf="f['author'].errors['maxlength']">Author must not exceed 100 characters</div>
					</div>
				</div>

				<div>
					<label for="subject">Subject</label>
					<br>
					<input id="subject" type="text" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }">
					<div *ngIf="submitted && f['subject'].errors">
						<div *ngIf="f['subject'].errors['required']">Subject is required</div>
						<div *ngIf="f['subject'].errors['minlength']">Subject must be at least 2 characters</div>
						<div *ngIf="f['subject'].errors['maxlength']">Subject must not exceed 20 characters</div>
					</div>
				</div>
			
				<br>
				<button class="btn btn-success" type="submit">
					Apply
				</button>
				
			</form>

		</div>

	</div>
</div>